<html lang="en">
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <h2>Unfortunately, we cannot help you more than providing you with the current weather...  🤡</h2>
    </div>
    {{>footer}}
  </body>
</html>