<html lang="en">
  {{>head}}
  <body>
    <div class="main-content">
      {{>header}}
      <form action="">
        <input type="text" id="address" placeholder="Location">
        <button type="submit">Search</button>
      </form>
      <div class="resulsTag"></div>
    </div>
    {{>footer}}
    <script src="./js/app.js" type="module"></script>
  </body>
</html>